<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewpoint" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/style.css">
<title>Document</title>
</head>
<body>
    <nav>
        <h4>Node mysql</h4>
         <ul>
            <li><a href="/">Home</a></li>
              <li><a href="/login">login</a></li>
            <li><a href="/register">register</a></li>

          </ul>
        </nav>

        <div class=""container mt=-4>
            <h1 class="display-4">login project</h1>
            <p class="lead">this is a simple hero unit, a simple jumbotron-style<p>
            <hr class="my-4">
            <p>it uses utility classes for typography and spacing to space content</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">learn more</a>
        </div>

        <script src="https://code.journey.com/jquery-3.4.1.slim.min.js" integrity=""></script>
    </body>
<html>